Section "InputClass" 
	Identifier "Natural Scrolling Mouse" 
	MatchIsPointer "on" 
	MatchIsTouchpad "off" 
	MatchDevicePath "/dev/input/event*" 
	Option "VertScrollDelta" "-1" 
	Option "HorizScrollDelta" "-1" 
	Option "DialDelta" "-1" 
EndSection
